.review {
    position: relative;
    right: 145px;
    box-sizing: border-box;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 109px 87px 99px 145px;
    max-width: 640px;
    max-height: 408px;
    background-color: #151313;
}