.care__item-caption {
    margin: 20px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;

    color: #FFFFFF;
}

@media screen and (max-width: 720px) {
    .care__item-caption {
        font-size: 14px;
        line-height: 140%;
    }
}