.footer__phone {
    margin-right: 258px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    color: #FDF2E6;
}

@media screen and (max-width: 1100px) {
    .footer__phone {
        margin-right: 0;
    }
}

@media screen and (max-width: 720px) {
    .footer__phone {
        margin-top: 20px;
    }
}