.advantages__item-caption {
    margin: 0;
    max-width: 233px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

    z-index: 2;
}