.advantages__title {
    margin: 83px 0 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFF;
}

@media screen and (max-width: 720px) {
    .advantages__title {
        max-width: 184px;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
}