.team__member {
    position: relative;
    left: 180px;
    box-sizing: border-box;
    margin: 0;
    padding: 69px 103px 72px 98px;
    max-width: 600px;
    max-height: 356px;
    background-color: #1F1C1D;
}

.team__member::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: -23px;
    bottom: -23px;
    left: -26px;
    right: -34px;
    /* width: 660px;
    height: 402px; */
    border: 0.5px solid rgba(160, 123, 80, 0.43);
}