.team__member {
    display: flex;
    position: relative;
    width: 100%;
    
}

/* .team__member::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: -23px;
    bottom: -23px;
    left: -26px;
    right: -34px;
    border: 0.5px solid rgba(160, 123, 80, 0.43);
    z-index: -1;
} */