.header__navigation {
    display: flex;
    flex-direction: column;
    margin-left: 79px;
}


@media screen and (max-width: 1140px) {
    .header__navigation {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .header__navigation  {
        display: none;
    }
}
