.species__info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 720px) {
    .species__info {
        position: relative;
        align-self: start;
        margin-left: 33px;
    }
}