.team__member-name {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #A07B50;
}

@media screen and (max-width: 720px) {
    .team__member-name {
        margin-top: 88px;
        font-size: 18px;
        line-height: 21px;      
    }
}