.questions__title {
    margin: 73px 0 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

@media screen and (max-width: 720px) {
    .questions__title {
        font-size: 28px;
        line-height: 32px;
    }
}