.pets__title {
    margin: 223px 0 0;
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: normal;
    line-height: 42px;
}

@media screen and (max-width: 1070px) {
    .pets__title {
        margin-top: 100px;
    }
}