.team__member-position {
    display: block;
    margin: 10px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #A07B50;
}

@media screen and (max-width: 720px) {
    .team__member-position {
        margin-top: 12px;
        font-size: 14px;
        line-height: 135.94%;    
    }
}