.care__item-title {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #A07B50;
}

@media screen and (max-width: 720px) {
    .care__item-title {
        font-size: 18px;
        line-height: 21px;
    }
}