.team__member-content {
    position: relative;
    /* left: 180px; */
    box-sizing: border-box;
    margin: 0;
    padding: 92px 103px 95px 124px;
    max-width: 660px;
    /* max-height: 356px; */
    /* background-color: #1F1C1D; */
    z-index: 1;
    border: 0.5px solid rgba(160, 123, 80, 0.43);
}

/* .team__member-content::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: -23px;
    bottom: -23px;
    left: -26px;
    right: -34px;
    border: 0.5px solid rgba(160, 123, 80, 0.43);
    z-index: -1;
} */

.team__member-content::before {
    position: absolute;
    z-index: -1;
    top: 23px;
    left: 26px;
    content: "";
    background-color: #1F1C1D;
    width: 600px;
    height: 356px;
}

@media screen and (max-width: 720px) {
    .team__member-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 290px;
        background-color: #1F1C1D;
        padding: 0 11px;
    }

    .team__member-content::before {
        display: none;
    }
}