.question__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 42.6px;
    height: 110px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DDD0C3;
    background-color: transparent;
    border: 0.5px solid rgba(160, 123, 80, 0.41);
    box-sizing: border-box;
    z-index: 2;
}

.question__title::after {
    z-index: 0;
    content: "+";
    color: #A07B50;
    font-size: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 104px;
    height: 110px;
    border-left: 0.5px solid rgba(160, 123, 80, 0.25);
    box-sizing: border-box;
}

 @media screen and (max-width: 1000px) {
    .question__title {
        height: 76px;
    }

    .question__title span {
        width: 381px;
        text-align: left;
    }

    .question__title::after {  
         width: 72px;
         height: 76px; 
     }
} 

@media screen and (max-width: 720px) {
    .question__title {
        height: 60px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 140%;
    }

    .question__title span {
        width: 219px;
        
        
    }

    .question__title::after {  
         width: 43px;
         height: 60px; 
     }
} 



