.species__image {
    max-width: 631px;
}

@media screen and (max-width: 1070px) {
    .species__image {
        max-width: 410px;
    }
}

@media screen and (max-width: 720px) {
    .species__image {
        max-width: 280px;
    }
}

